
# Hide unecessary things
mmc-pack.json
instance.cfg*
mods
config
*.*
!*.js
!*.txt
!.kjspkg
options.txt
!*.md
logs
saves
coremods
defaultconfigs
local
resourcepacks
screenshots
server-resource-packs
shaderpacks
texturepacks
*.properties
probejs.json
kubejs/*/README.txt
jsconfig.json
*.zip
!kubejs/*
!kubejs-packages/*/